* {
    box-sizing: border-box;
}

.container {
    width: 1281px;
    margin: 44px auto 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.logo-ramda-color {
    color: #4BCAFF;
}

.logo-ramda {
    display: inline-block;
    font-size: 80px;
    margin: 0 0 44px 0;
    text-decoration: none;
    color: black;
}

.navigation {
    display: inline-block;
    width: 1281px;
    text-align: center;
    background: #35444F;
}

.navigation-item {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 27px 41px 26px 42px;
    font-size: 20px;
}

.navigation-item:hover {
    background: #222F3A;
    border-right: 1px solid #818181;
    border-left: 1px solid #818181;
    padding: 27px 40px 26px 41px;
}

.content {
    margin-top: 51px;
}

.second-navigation {
    display: inline-block;
    text-align: left;
    width: 340px;
    vertical-align: top;
    border: 1px solid black;
}

.second-navigation-item {
    display: block;
    padding: 30px 0 29px 44px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.second-navigation-item:hover {
    background-color: #DBDBDB;
    font-weight: bold;
    padding-left: 72px;
}

.article {
    display: inline-block;
    margin-left: 52px;
    width: 884px;
}

.image-section {
    display: inline-block;
    width: 884px;
    text-align: center;
    padding: 75px 0px;
    border: 1px solid black;

}

.ramda-image {
    transition: transform .2s;
}

.ramda-image:hover {
    transform: scale(1.3);
}

.first-paragraph {
    padding: 0 30px;
    margin: 50px 0 30px 0;
    font-size: 18px;
    line-height: 1.3em;
}

.second-paragraph {
    padding: 0 30px;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.3em;
}

.footer {
    display: inline-block;
    background-color: #B4B7BA;
    width: 1280px;
    margin-bottom: 30px;
}

.third-navigation {
    display: inline-block;
    width: 887px;
    text-align: center;
}

.third-navigation-item {
    display: inline-block;
    margin: 22px 22px 22px 0;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.third-navigation-item:hover {
    left: 60%;
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    display: inline-block;
    margin-bottom: 21px;
}

.copy-section {
    display: inline-block;
    width: 354px;
    text-align: right;
    margin-right: 34px;
}

.rm-right-margin {
    margin-right: 0;
}
