.background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.modal-window {
    width: 516px;
}

.header {
    background-color: #d44637;
    display: flex;
    justify-content: space-between;
    padding: 25px 31px 21px 30px;
    color: #fff;
    font-size: 14pt;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.close {
    width:30px;
    height: 30px;
    font-weight: 100;
    font-size: 27px;
    text-decoration: none;
    color: #fff;
    background-color: #d44637;
    outline: none;
    border: none;
    text-align: center;
    padding: 0;
;

}
.close:hover {
    opacity: 1;
}

.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}


.body-container{
    background-color: #e74c3c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 41px;
}

.button-container > div {
    margin-right: 13px;
}


.main-text-container {
    text-align: center;

}

.main-text{
    color: #fff;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    line-height: 31px;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
