html, body {
    height: 100%;
}

body {
    background: url("../img/bg.png") no-repeat center fixed;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
}

.header-title {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 16pt;
}

.header-text .green-color:hover {
    border-bottom: 1px solid #366349;
}

.navigation {
    display: flex;
    width: 433px;
    justify-content: space-evenly;
}

.header-icons {
    display: flex;
    width: 118px;
    justify-content: space-between;
}

.header-border {
    width: 1px;
    height: 19px;
    border-left: 1px solid #b5b5b5;
    opacity: 0.5;
}

.icon1 {
    width: 20px;
    height: 20px;
    background: url("../img/icons.png") 0 0;
}

.icon2 {
    width: 30px;
    height: 20px;
    background: url("../img/icons.png") -20px 0;
}

.icon3 {
    width: 20px;
    height: 20px;
    background: url("../img/icons.png") -50px 0;
}

.icon1:hover {
    background: url("../img/green-icons.png") 0 0;
}

.icon2:hover {
    background: url("../img/green-icons.png") -20px 0;
}

.icon3:hover {
    background: url("../img/green-icons.png") -50px 0;
}

.header-text {
    color: #fff;
    word-spacing: 3px;
}

.green-color {
    color: #3cb878;
    text-decoration: none;
}

.header-title:hover {
    color: #3cb878;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 333px;
    height: 510px;
    border-radius: 10px;
    padding: 32px 62px;
    margin: 0 auto;
    position: relative;
}

.content-header-text {
    display: flex;
    justify-content: space-between;
}

.content-header-text a:hover {
    text-decoration: underline;
}

.sign-up-text {
    font-size: 18pt;
    margin-bottom: 17px;
}

.content::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    left: 0;
    top: 37px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.facebook {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #305db8;
    color: #fff;
    width: 120px;
    height: 17px;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.facebook:hover {
    background-color: #264b96;
}

.facebook-icon {
    width: 10px;
    height: 20px;
    object-fit: none;
    object-position: 0 0;
}

.facebook-text {
    text-align: center;
    font-size: 13pt;
}

.google {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #df4a32;
    color: #fff;
    width: 120px;
    height: 17px;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.google:hover {
    background-color: #c3412c;
}

.google-icon {
    width: 25px;
    height: 16px;
    object-fit: none;
    object-position: -11px -2px;
}

.google-text {
    text-align: center;
    font-size: 13pt;
}

.inputs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-border-facebook {
    height: 28px;
    width: 1px;
    border-left: 1px solid #2b54a5;
}

.button-border-google {
    height: 28px;
    width: 1px;
    border-left: 1px solid #af3a28;
}

.or {
    color: #b5b5b5;
}

.line {
    height: 1px;
    width: 135px;
    border-top: 1px solid #eaeaea;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 331px;
    margin-bottom: 28px;
}

.input {
    padding: 13px;
    border: 1px solid #eaeaea;
}

.input:focus{
    outline: none;
    border: 1px solid #eaeaea;
    padding: 13px 14px;
    position: relative;
    top: -6px;
    box-shadow: 5px 5px 5px grey;
}

.terms {
    display: flex;
}

.terms-text {
    padding: 4px 0;
    font-size: 14px;
}

.terms-text a:hover {
    text-decoration: underline;
}

.create-button {
    background-color: #3cb878;
    color: white;
    font-size: 11pt;
    text-align: center;
    padding: 15px 0;
    text-decoration: none;
    vertical-align: middle;
}

.create-button:hover{
    background-color: #329a65;
}

.check-container {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.check-mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #b5b5b5;
    border-radius: 3px;
}

.check-container input:checked ~ .check-mark:after {
    content: "";
    display: block;
}

.check-mark:after {
    position: absolute;
    display: none;
    content: "";
    top: 2px;
    left: 6px;
    width: 5px;
    height: 10px;
    border: solid #3cb878;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
[placeholder]{
    font-size: 10pt;
}

